/*NAVBAR*/
body {
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: 'Montserrat', serif;
  background-color:#B1D056;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  position: relative;
  font-family: "Montserrat", serif;
  font-size: 15px;
  box-sizing: border-box;
}

h2 {
  font-family: 'Montserrat'
}

nav {
  background: white;
  height: 100px;
  width: 100%;
  z-index: 1;
  top: 0px;
  border-bottom: 2px solid green;
}

.logo {
  padding-top: 8px;
  padding-left: 20px;
}


nav ul {
  font-family: 'Montserrat', serif;
  font-weight: 500;
  margin-top: 28px;
  font-size: 20px;
  float: right;

  margin-right: 5px;
  margin-bottom: 10px;
}

nav ul li {
  display: inline-block;
  line-height: 30px;
  margin: 0 5px;
}

nav ul li a {
  color: orange;
  font-size: 17px;
  padding-bottom: 3px;
  padding-top: 12px ;
  padding-left:12px;
  padding-right: 12px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a.active {
  border-bottom: 3px solid orange;
}

a.active, a:hover {
  background: white;
  transition: .5s;
  text-decoration: none;
  color: inherit;
}

.checkbtn {
  font-size: 30px;
  color: green;
  float: right;
  line-height: 100px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
  height: 50px;
}

#check {
  display: none;
}

li a, .dropbtn {
  display: inline-block;
  color: Orange;
  text-align: center;
  padding: 12px 10px;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 40px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #FFA33E;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 952px) {
  .logo {
    font-size: 30px;
    padding-left: 10px;
    height: 90px;
    width: 180px;
  }

  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
    font-size: 30px;
    height: 40px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 80px;
    left: -100%;
    padding-top: 20px;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 19px 0;
    line-height: 19px;
  }

  li.dropdown {
    margin: 19px 0;
    line-height: 19px;
    margin-top: 0px;
  }

  nav ul li a {
    font-size: 20px;
  }

  a.active {
    background: none;
    color: black;
  }

  #check:checked~ul {
    left: 0;
    z-index: 1;
  }
}
.container-fluid
{
  padding-bottom: 70px;
  padding-top: 30px;
}
.img{
  height:312px;
  width:480px;
}
.row{
  padding:0px 15px;
}
.header
{
  padding-top:50px;

}


.col1{
  text-align: center;
  width:100%;

  padding-top: 90px;
}

.col2
{

  padding-left: 5px;

}
.with{
  padding-left:0px;
  padding-top:60px;
}


.input
{
  padding-top: 7px;
}
.left-text{
  padding-top: 15px;
  padding-bottom: 3px;

}
.name{
  font-family:'Montserrat',serif;
  font-weight: 600;
  font-size: 17px;
}
.box{

  width:60%;
  height:45px;
}
.col-lg-2
{
  margin-right:-31px;
  padding-top: 10px;
  padding-right:10px;
}
.button1
{
  padding-top: 30px;
  padding-left: 0px;

}



         .button {

            padding: 13px 41px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
            background-color: orange;
          }

          .button:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
          }





.soc-activity{
  padding-top:20px;
}
.btn {


  width: 57px;
  padding: 11px;
  border: none;
  border-radius: 100%;
  /* margin-top: 44px; */
  /* margin-left: 31px; */
  opacity: 0.85;
  display: inline-block;
  font-size: 23px;
  line-height: 27px;
  text-decoration: none;
}
 /* remove underline from anchors */


/* add appropriate colors to fb, twitter and google buttons */
.fb {
  background-color: #3B5998;
  color: white;
}

.twitter {
  background-color: #55ACEE;
  color: white;
}

.google {
  background-color: #dd4b39;
  color: white;
}
@media (max-width:940px)
{
  .col2
  {
    padding-left: 220px;
  }
  .box{

    width:80%;
    height:45px;
  }
}

@media (min-width:480px)
{
  .col2
  {
    padding-left: 70px;
  }
}


/* footer section */
.footer-sec {
  background-color: Black;
  color: white;
}

.footer {
  padding: 30px;
  text-align: left;
}

#div-row {
  padding-top: 30px;
}

.contact {
  text-align: left;
  color: orange;
  padding-bottom: 0px;
  padding-top: 0px;
}

#text-link a:hover {
  color: orange;
}

#icon {
  vertical-align: middle;
}

.sub-info {
  padding-top: 5px;
  text-align: left;
  text-decoration: none;
  padding-bottom: 5px;
}

.list-line {
  padding-top: 0px;
  margin-bottom: 0px;
}

.sub-info1 {
  padding-top: 0px;
  text-align: left;
  text-decoration: none;
}

.no {
  color: white;
  padding-left: 5px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 2px;
}

a:hover {
  color: orange;
  background: none;
  color: inherit
}

.links a:hover {
  color: orange;
}

.center {
  padding-left: 80px;
}

.card {
  padding-top: 10px;
  padding-left: 20px;
  height: 330px;
  width: 280px;
  background-color: black;
  border: 2px solid white;
}

.input-container {
  border-radius: 50%;
  padding-top: 5px;
  color: orange;
}

.label {
  padding-left: 5px;
  margin-bottom: 0px;
}

.txt {
  text-align: left;
  padding-left: 5px;
  font-size: 15px;
  font-weight: lighter;
  padding-bottom: 0px;
}

.input-field {
  padding-top: 10px;
  height: 25px;
  width: 90%;
}

.abt-us:link, .abt-us:visited {
  background-color: Orange;
  border-radius: 10px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border: 1px solid white;
}

.abt-us:hover, .abt-us:active {
  background-color: #F7CE68;
  ;
}

.social {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 30px;
}

.soc-icon {
  margin: 20px 10px;
  padding: 5px;
  text-align: center;
  color: white;
}

.soc-icon:hover {
  color: orange;
}
@media screen and (max-width:480px){
nav ul{
  margin-top: 19px;
}
.col1{
  padding-top: 10px;
}
}
@media screen and (min-width:480px){
.mid{
  padding-left: 10px;
}

}
@media screen and (max-width:360px){
  .img{
    height: 212px;
    width: 300px;
  }
  .col1{
    padding-top: 10px;
  }
  .col2 {
    padding-left: 30px;

}
.header {
    padding-top: 20px;
}
}
@media screen and (max-width:480px){
.col1{
  padding-top: 50px;
}
}
